<section id="detailMovie">
  <div class="container">
    <div class="section-title">
      <h1><i class="icofont icofont-film"></i>{{ movie.title }}</h1>
    </div>
    <hr />
    <div class="details">
      <div class="row flexbox-center">
        <div class="col-lg-5 text-lg-left text-center">
          <div class="movieDetails-content">
            <img src="assets/img/portfolio5.png" alt="" />
          </div>
        </div>
        <div class="col-lg-7">
          <div class="movieDetails-content">
            <h2>{{ movie.title }}</h2>
            <p>{{ movie.genre }}</p>
            <ul>
              <li>
                <div class="movieDetail-left">Movie:</div>
                <div class="movieDetail-right">
                  <a href="#">{{ movie.title }}</a>
                </div>
              </li>
              <li>
                <div class="movieDetail-left">Time:</div>
                <div class="movieDetail-right">{{ movie.runtime }}</div>
              </li>
              <li>
                <div class="movieDetail-left">Release:</div>
                <div class="movieDetail-right">{{ movie.year }}</div>
              </li>
              <li>
                <div class="movieDetail-left">Language:</div>
                <div class="movieDetail-right">{{ movie.language }}</div>
              </li>
              <li>
                <div class="movieDetail-left">Rating:</div>
                <div class="movieDetail-right">{{ movie.rating }}</div>
              </li>
              <li>
                <div class="movieDetail-left">Description:</div>
                <div class="movieDetail-right">
                  {{ movie.plot }}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a [routerLink]="['/theatre/viewbyMovie/', movie.id]" class="theme-btn"
        ><i class="icofont-ticket"></i> BOOK MOVIE</a
      >
    </div>
  </div>
</section>
