<!-- signup.component.html -->
<section id="signup">
  <div class="container">
    <!-- <h3 style="color: red">{{ errorMessage }}</h3> -->
    <form [formGroup]="userForm" (ngSubmit)="register()">
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header">
            <h3>Sign Up</h3>
            <div class="d-flex justify-content-end social_icon"></div>
          </div>
          <div class="card-body">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fas fa-envelope"></i
                ></span>
              </div>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Email"
                required
              />
            </div>
            <div
              class="error"
              *ngIf="
                userForm.get('email')?.invalid && userForm.get('email')?.touched
              "
            >
              <small *ngIf="userForm.get('email')?.errors?.['required']"
                >Email is required.</small
              >
              <small *ngIf="userForm.get('email')?.errors?.['email']"
                >Invalid email address.</small
              >

              <small *ngIf="userForm.get('email')?.hasError('invalidEmail')">
                Invalid email address.
              </small>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fas fa-flag"></i
                ></span>
              </div>

              <select class="country-code" formControlName="country">
                <option
                  *ngFor="let country of countries"
                  [value]="country.code"
                >
                  {{ country.name }}
                </option>
              </select>
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fas fa-phone"></i
                ></span>
              </div>

              <!-- <select class="country-code" formControlName="country">
                <option value="+91 India">+91 (India)</option>
                <option value="+49 Germany">+49 (Germany)</option>
                <option value="+01 United States">+01 (United States)</option>
                <option value="+44 United Kingdom">+44 (United Kingdom)</option>
                <option value="+86 China">+86 (China)</option>
                <option value="+81 Japan">+81 (Japan)</option>
                <option value="+61 Australia">+61 (Australia)</option>
              </select> -->
              <input
                type="tel"
                class="form-control"
                formControlName="phone"
                placeholder="Mobile Number"
                required
              />
            </div>
            <div
              class="error"
              *ngIf="
                userForm.get('phone')?.invalid && userForm.get('phone')?.touched
              "
            >
              <small *ngIf="userForm.get('phone')?.errors?.['required']"
                >Phone number is required.</small
              >

              <small
                *ngIf="userForm.get('phone')?.hasError('invalidPhoneNumber')"
              >
                Invalid phone number for the selected country.
              </small>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fas fa-lock"></i
                ></span>
              </div>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Password"
                required
              />
            </div>
            <div
              class="error"
              *ngIf="
                userForm.get('password')?.invalid &&
                userForm.get('password')?.touched
              "
            >
              <small *ngIf="userForm.get('password')?.errors?.['required']"
                >Password is required.</small
              >
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fas fa-lock"></i
                ></span>
              </div>
              <input
                type="password"
                class="form-control"
                formControlName="confirmPassword"
                placeholder="Confirm Password"
                required
              />
            </div>
            <div
              class="error"
              *ngIf="
                userForm.get('confirmPassword')?.invalid &&
                userForm.get('confirmPassword')?.touched
              "
            >
              <small
                *ngIf="userForm.get('confirmPassword')?.errors?.['required']"
                >Confirm Password is required.</small
              >
            </div>
            <div class="radio">
              <input
                type="radio"
                id="admin"
                name="role"
                value="admin"
                formControlName="role"
                class="radio"
              />
              <label class="radioName" for="admin">Admin</label><br />
              <input
                type="radio"
                id="customer"
                name="role"
                value="customer"
                formControlName="role"
                class="radio"
              />
              <label class="radioName" for="customer">Customer</label><br />
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn float-right login_btn"
                [disabled]="
                  userForm.invalid ||
                  (!userForm.get('phone')?.value.trim() &&
                    !userForm.get('email')?.value.trim()) ||
                  !userForm.get('password')?.value.trim() ||
                  !userForm.get('confirmPassword')?.value.trim()
                "
              >
                Sign Up
              </button>
            </div>
          </div>
          <div class="error ml-3" *ngIf="errorMessage">
            <small>{{ errorMessage }}</small>
          </div>
          <hr />
          <div class="card-footer">
            <div class="d-flex justify-content-center links">
              Account already exists?<a [routerLink]="['/login']"
                ><em><strong>Login</strong></em></a
              >
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
